<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>vue test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    -->
    <script src="../../primer/jslib/vue.js"></script>
</head>

<body>
    <div id="app" v-bind:title="title">
        {{ message }}
        <p v-if="seen">现在你看到我了</p>

        <input v-model="message">
        <br><input v-model="msg"> {{msg.split(' ').reverse().join(' ') }}
        <br><a v-bind:href="url">oschina</a>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                title: '页面加载时间:　' + new Date(),
                seen: true,
                msg: 'test script',
                url: "http://oschina.net"
            }
        });
    </script>
</body>

</html>