<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../primer/jslib/angular/angular.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		名字: <input ng-model="name">
		
		<h1>你输入了: {{name}}</h1>
		
		<ul>
    		<li ng-repeat="x in names">{{x}}</li>
		</ul>		
	</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "John Doe";
    $scope.names = ["Emil", "Tobias", "Linus"];
});
</script>
</body>
</html>